<div class="container">
  <h1>Joana Aperta</h1>
<p>Junior Developer - Ruby on Rails Fullstack</p>
<p>Attended Le Wagon Lisbon (Batch #224).<br>

9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript,
SQL, git, GitHub, Heroku and Ruby on Rails prototype.</p><br>
<br />

<a href="www.linkedin.com/in/joanaaperta" target="blank">
  <%= image_tag ("linkedin.png")%></a>

  <a href="github.com/j0PT" target="blank">
<%= image_tag ("github.png") %></a>
</div>

